* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  /*centralizou na horizontal*/
  justify-content: center;


}

button {
  width: 6rem;
  height: 6rem;
}

img {
  width: 3rem;
  height: 3rem;
}